.ms-header-col{
    display: flex !important;
    justify-content: center !important;
}
.section-header{
    font-size: 1.25rem !important;
    color: #7a0000 !important;
    font-weight: 500 !important;
}
.section {
    margin-bottom: 45px;
}
.white-text {
    color: #ffffff !important;
    font-size: 14px;
}

.navbar {
    padding: 0rem .5rem !important;
}

.nav-link>a, .nav-link>a:focus, .nav-link>a:hover{
	color: #ffffff !important;
    font-size: 18px;
}

.nav-link>a:hover{
	color: #ffffff !important;
	background: #575858;
    font-size: 18px;
}

.row {
    width: 100% !important;
}

.logo-margin {
    display: flex;
    justify-content: center;
    margin-bottom: 10px !important;
}

.jumbotron {
	padding-bottom: 30px !important;
	padding-top: 20px !important;
	background-color: #eee !important;
    margin-bottom: 1rem  !important;
}

.subheader-carousel {
    height: 100px !important;
}

.heading-color{
	color: #7a0000;
}
.card-header {
    font-size: 16px !important;
    color: #7a0000 !important;
    font-weight: 500 !important;
    background-color: #eee !important;
}
.card{
    margin-bottom: 20px !important;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
    background-color: #fff !important;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f6f9f2;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  font-size: 0.5rem;
}
.main-header{
    height: 100% !important;
}

.youtube-div {
    position: relative !important;
    padding-bottom: 15.25% !important; /* 16:9 */
    padding-top: 25 !important;
    height: 0 !important;
}
.youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 560;
    height: 315;
}
.container {
    width: 800px i !important;
}

.subheader-carousel {
    height: 100px !important;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}
.future-carousel-body-content {
    width: 80% !important;
}
.future-carousel-body {
    display: flex !important;
    justify-content: center !important;
}

.future-carousel {
    height: 25  0px !important;
}
.carousel-indicators {
    bottom: -40px !important;
}
.carousel-control-prev, .carousel-control-next {
    display: none !important;
}
.carousel-indicators li {
    color: #7a0000 !important;
    background-color: #7a0000 !important;
}

.special-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 10px !important;
    border-top-left-radius: 1.9rem !important;
    border-top-right-radius: 1.9rem !important;
    border-bottom-right-radius: 1.9rem !important;
    border-bottom-left-radius: 1.9rem !important;
    width: 50% !important;
}
.funraising-text {
    color: #7a0000 !important;
    font-size: 13px !important;
}
.non-header {
    color: #3c7cde !important;
    font-size: 11px !important;
}

@import "~bootstrap/scss/bootstrap";